@tailwind base;
@tailwind components;
@tailwind utilities;

section p:not(:has(> strong)) {
    @apply indent-4;
}

tr {
    @apply even:bg-gray-300 dark:even:bg-gray-700 w-full;
}

th {
    @apply px-2 text-center;
}

td {
    @apply px-2;
}

#app-inner-container {
    @apply bg-gray-50 text-gray-950 dark:bg-gray-900 dark:text-gray-200
}

.btn {
    @apply text-blue-700 dark:text-blue-500 underline inline duration-200 transition-colors focus:text-blue-500 active:text-blue-500 hover:text-blue-500 dark:focus:text-blue-700 dark:active:text-blue-700 dark:hover:text-blue-700;
}

.nav-btn {
    @apply text-xl mx-1 first:ml-0 last:mr-0 transition-[color,transform] duration-200 focus:text-accent hover:text-accent active:scale-110 focus:scale-110 hover:scale-110 active:text-accent !outline-none dark:focus:text-accentDark dark:hover:text-accentDark dark:active:text-accentDark
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

.no-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main {
    @apply justify-start;
}

main:has(h1) {
    @apply !justify-center items-center;
}

img {
    @apply rounded-md;
}

body {
    @apply duration-200 transition-colors text-justify
}

section {
    @apply text-justify text-pretty
}

input[type="checkbox"] {
    appearance: none;
    font: inherit;
    @apply bg-transparent m-0 text-current size-[1.15em] border-[0.15em] border-solid border-current rounded-[0.15em] -translate-y-[0.075em] grid place-content-center;
    @apply before:content-[""] before:size-[0.65em] before:scale-0 before:transition-transform before:duration-200 before:ease-in-out before:bg-accent dark:before:bg-accentDark checked:before:scale-100 disabled:before:bg-gray-500
}

img.round {
    //filter: url("#filter-radius");
}