.left::-webkit-scrollbar {
    display: none;
}

.button {
    margin-bottom: 5px;
    font-size: 18px;

    color: white;
    background-color: rgb(43, 151, 61);

    border: 3px solid rgb(43, 151, 61);
    border-radius: 12px;

    text-decoration: none;
    display: inline-block;

    padding: 5px;
    width: 170px;
}

.button:hover {
    background-color: rgb(37, 129, 52);
    font-weight: bolder; 
}

#main {
    margin-top: 40px;
    margin-bottom: 40px;
}

