nav::-webkit-scrollbar {
    display: none;
}

nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    --body-color: #000000;
    --body-bgcolor: #DDDDDD;

    --tb-color: #000000;
    --tb-bgcolor: #DDDDDD;
    --tb-bgcolor-hover: #CCCCCC;
}

body.dark {
    --body-color: #FFFFFF;
    --body-bgcolor: #0D1117; 

    --tb-color: #FFFFFF;
    --tb-bgcolor: #2B3D97;
    --tb-bgcolor-hover: #253481;
}

