nav a,#toggle {
    margin-bottom: 5px;
    
    border: 3px solid;
    border-radius: 12px;
    
    text-decoration: none;
    display: inline-block;
    
    padding: 5px;
    width: 170px; 
}

nav a {
    font-size: 18px;
    border-color: #2B973D;
    background-color: #2B973D;  
    color: white;
}

nav a:hover {
    background-color: #258134;
    font-weight: bolder; 
}

button#toggle {
    font-size: 14px;
    border-color: var(--tb-bgcolor);
    background-color: var(--tb-bgcolor);  
    color: var(--tb-color);
}

button#toggle:hover {
    background-color: var(--tb-bgcolor-hover);
    font-weight: bolder; 
}

nav a:last-of-type {
    margin-top: 40px;
    margin-bottom: 40px;
}