body {
    --text-color: #000000;
    --bg-color: #DDDDDD;
}

body.dark {
    --text-color: #FFFFFF;
    --bg-color: #0D1117; 
}

body {
	margin: 25px;
	font-family: Calibri;
	font-size: 20px;

    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
margin-left: 230px;
}

section.story p {
    text-indent: 50px;
}

nav {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0;
    overflow-y: scroll;

    float: left;
    margin-left: 0px;
    width: 230px;

    padding: 5px;
    text-align: center;

    height: 100%;

    color: white;
    background-color: rgb(53, 180, 74);

    font-size: 18px;
}

footer {
    position: fixed;
}

.clear {
    clear: both;
}

.title {
    margin-top: 40px;
    font-style: italic;
}