table {
    font-size: 16px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.cell {
    margin-top: 50px;
    float: left;
    padding: 5px;
}

td, th {
    padding: 5px;
    width: 15vw;
    border-collapse: collapse;
}

th {
    background-color: rgb(53, 180, 74);
    border-radius: 12px;
    color: #FFFFFF;
}

.table-img {
    width: 25vw;
    margin-right: 5vw;
}

.l {
    text-align: left;
}

.r {
    text-align: right;
}