h4 {
    text-align: center;
    margin-top: 50px;
}

.int {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

table {
    font-size: 16px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.cell {
    float: left;
    padding: 5px;
    max-width: 30vw;
}

td, th {
    padding: 5px;
    width: 15vw;
    border-collapse: collapse;
}

th {
    background-color: rgb(53, 180, 74);
    border-radius: 12px;
    color: #FFFFFF;
}

.table-img {
    width: 25vw;
    margin-right: 5vw;
}

.l {
    text-align: left;
}

.r {
    text-align: right;
}

.comment {
    margin-top: 25px;
    font-size: 16px;
    text-align: center;
    font-style: italic;
}